root=true

[*]
insert_final_newline = true
charset = utf-8

[*.cs]
indent_style = tab
dotnet_sort_system_directives_first = true
csharp_space_after_cast = true
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

dotnet_diagnostic.NUnit1032.severity = suggestion
dotnet_diagnostic.NUnit1028.severity = none
dotnet_diagnostic.NUnit2045.severity = none
# Consider using the constraint model, Assert.That
dotnet_diagnostic.NUnit2005.severity = suggestion
dotnet_diagnostic.NUnit2006.severity = suggestion
dotnet_diagnostic.NUnit2015.severity = suggestion
dotnet_diagnostic.NUnit2031.severity = suggestion
dotnet_diagnostic.NUnit2049.severity = suggestion
# The SameAs constraint always fails on value types as the actual and the expected value cannot be the same reference
dotnet_diagnostic.NUnit2040.severity = suggestion

[*.xsd]
indent_style = tab

[*.json]
indent_style = space
indent_size = 2

[{*.xml,*.csproj,*.vbproj}]
indent_style = space
indent_size = 2
ij_xml_space_inside_empty_tag = true

[*.g]
indent_style = tab
