root=true

[*]
insert_final_newline = true

[*.cs]
indent_style = tab
dotnet_sort_system_directives_first = true
csharp_space_after_cast = true
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

[*.xsd]
indent_style = tab

[*.json]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2

[*.csproj]
indent_style = space
indent_size = 2

[*.vbproj]
indent_style = space
indent_size = 2

[*.cshtml]
indent_style = space
indent_size = 4

[*.g]
indent_style = tab
