# Top-level .gitignore.
# Rules that apply mainly for for Visual Studio projects should go in src/.gitignore
# to avoid applying to e.g. the Tools and lib directories.

build
*.bak
NHibernate.VisualState.xml
available-test-configurations
current-test-configuration

# This will be copied from the build directory to the lib directory in order
# to satisfy later build steps. But it should not be committed.
NHibernate.dll
TestResult.xml
.vscode
.DS_Store

.idea/
.vs/
/build-common/NHibernate.dev.props
