<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.0" >
	<session-factory name="NHibernate.Test">
		<!-- properties -->
		<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
		<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
		<property name="connection.connection_string">Server=localhost;initial catalog=nhibernate;User Id=;Password=</property>
		<property name="show_sql">false</property>
		<property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
		<property name="use_outer_join">true</property>
		<!-- 
			these are different than the values in app.config so I can verify these 
			are being picked up
		-->
		<property name="command_timeout">444</property>
		<property name="query.substitutions">true 1, false 0, yes 1, no 0</property>
		<!-- mapping files -->
		<!-- are now optional
			<mapping file="ABC.hbm.xml" />
			<mapping resource="NHibernate.DomainModel.Simple.hbm.xml" assembly="NHibernate.DomainModel" />
		-->
	</session-factory>
	
</hibernate-configuration>
