<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="Default">
      <property name="connection.driver_class">NHibernate.Driver.SqlServerCeDriver</property>
      <property name="connection.connection_string">Data Source=Database.sdf</property>
      <property name="show_sql">true</property>
      <property name="format_sql">true</property>
      <property name="dialect">NHibernate.Dialect.MsSqlCeDialect</property>
    </session-factory>
  </hibernate-configuration>
</configuration>