<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler,NHibernate.Caches.SysCache" />
		<section name="hibernate-configuration"
				 type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<syscache>
		<cache region="foo" expiration="500" priority="4" />
	</syscache>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.isolation">ReadCommitted</property>
			<property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">
				Server=localhost;initial catalog=nhibernate;Integrated Security=SSPI
			</property>
			<property name="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider,NHibernate.Caches.SysCache</property>
		</session-factory>
	</hibernate-configuration>
	<log4net>
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
			</layout>
		</appender>
		<root>
			<priority value="ALL" />
			<appender-ref ref="rollingFile" />
		</root>
	</log4net>
</configuration>
