<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        button.link {
            background: none !important;
            color: rgb(0, 0, 238);
            border: none;
            padding: 0 !important;
            font: inherit;
            text-decoration-color: rgb(0, 0, 238);
            text-decoration-line: underline;
            text-decoration-style: solid;
            cursor: pointer;
        }
        table.itemlist {
            border-spacing: 0;
            border-collapse: collapse;
            border: 1px solid black;
        }
        .itemlist td{
            border: 1px solid black;
        }
        .itemlist th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    @RenderBody()

<p>
    @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.RuntimeFramework
</p>

@RenderSection("Scripts", required: false)
</body>
</html>
