--
-- PostgreSQL database dump
--

-- Dumped from database version 9.0.1
-- Dumped by pg_dump version 9.0.1
-- Started on 2011-02-28 22:04:37

SET statement_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = off;
SET check_function_bodies = false;
SET client_min_messages = warning;
SET escape_string_warning = off;

SET search_path = public, pg_catalog;

SET default_with_oids = false;

--
-- TOC entry 1598 (class 1259 OID 29597)
-- Dependencies: 5
-- Name: animal; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE animal (
    id integer NOT NULL,
    description character varying(255),
    body_weight double precision,
    mother_id integer,
    father_id integer,
    serialnumber character varying(255),
    parentid integer
);


--
-- TOC entry 1597 (class 1259 OID 29595)
-- Dependencies: 1598 5
-- Name: animal_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE animal_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2013 (class 0 OID 0)
-- Dependencies: 1597
-- Name: animal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE animal_id_seq OWNED BY animal.id;


--
-- TOC entry 2014 (class 0 OID 0)
-- Dependencies: 1597
-- Name: animal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('animal_id_seq', 6, true);


--
-- TOC entry 1587 (class 1259 OID 29548)
-- Dependencies: 5
-- Name: anotherentity; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE anotherentity (
    id integer NOT NULL,
    output character varying(255),
    input character varying(255)
);


--
-- TOC entry 1586 (class 1259 OID 29546)
-- Dependencies: 5 1587
-- Name: anotherentity_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE anotherentity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2015 (class 0 OID 0)
-- Dependencies: 1586
-- Name: anotherentity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE anotherentity_id_seq OWNED BY anotherentity.id;


--
-- TOC entry 2016 (class 0 OID 0)
-- Dependencies: 1586
-- Name: anotherentity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('anotherentity_id_seq', 5, true);


--
-- TOC entry 1603 (class 1259 OID 29626)
-- Dependencies: 5
-- Name: cat; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE cat (
    mammal integer NOT NULL
);


--
-- TOC entry 1579 (class 1259 OID 29512)
-- Dependencies: 5
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE categories (
    categoryid integer NOT NULL,
    categoryname character varying(15) NOT NULL,
    description character varying(255)
);


--
-- TOC entry 1572 (class 1259 OID 29473)
-- Dependencies: 5
-- Name: customers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE customers (
    customerid character varying(255) NOT NULL,
    companyname character varying(40) NOT NULL,
    contactname character varying(30),
    contacttitle character varying(30),
    address character varying(60),
    city character varying(15),
    region character varying(15),
    postalcode character varying(10),
    country character varying(15),
    phone character varying(24),
    fax character varying(24)
);


--
-- TOC entry 1602 (class 1259 OID 29621)
-- Dependencies: 5
-- Name: dog; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE dog (
    mammal integer NOT NULL
);


--
-- TOC entry 1573 (class 1259 OID 29481)
-- Dependencies: 5
-- Name: employees; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE employees (
    employeeid integer NOT NULL,
    lastname character varying(20) NOT NULL,
    firstname character varying(10) NOT NULL,
    title character varying(30),
    titleofcourtesy character varying(25),
    birthdate timestamp without time zone,
    hiredate timestamp without time zone,
    address character varying(60),
    city character varying(15),
    region character varying(15),
    postalcode character varying(10),
    country character varying(15),
    homephone character varying(24),
    extension character varying(4),
    notes character varying(4000),
    reportsto integer
);


--
-- TOC entry 1574 (class 1259 OID 29489)
-- Dependencies: 5
-- Name: employeeterritories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE employeeterritories (
    employeeid integer NOT NULL,
    territoryid bigint NOT NULL
);


--
-- TOC entry 1600 (class 1259 OID 29611)
-- Dependencies: 5
-- Name: lizard; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE lizard (
    reptile integer NOT NULL
);


--
-- TOC entry 1601 (class 1259 OID 29616)
-- Dependencies: 5
-- Name: mammal; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE mammal (
    animal integer NOT NULL,
    pregnant boolean,
    birthdate timestamp without time zone
);


--
-- TOC entry 1577 (class 1259 OID 29501)
-- Dependencies: 5
-- Name: orderlines; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE orderlines (
    orderlineid bigint NOT NULL,
    orderid integer NOT NULL,
    productid integer NOT NULL,
    unitprice numeric(19,5) NOT NULL,
    quantity integer NOT NULL,
    discount numeric(19,5) NOT NULL
);


--
-- TOC entry 1576 (class 1259 OID 29499)
-- Dependencies: 1577 5
-- Name: orderlines_orderlineid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE orderlines_orderlineid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2017 (class 0 OID 0)
-- Dependencies: 1576
-- Name: orderlines_orderlineid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE orderlines_orderlineid_seq OWNED BY orderlines.orderlineid;


--
-- TOC entry 2018 (class 0 OID 0)
-- Dependencies: 1576
-- Name: orderlines_orderlineid_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('orderlines_orderlineid_seq', 2155, true);


--
-- TOC entry 1575 (class 1259 OID 29494)
-- Dependencies: 5
-- Name: orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE orders (
    orderid integer NOT NULL,
    customerid character varying(255) NOT NULL,
    employeeid integer,
    orderdate timestamp without time zone,
    requireddate timestamp without time zone,
    shippeddate timestamp without time zone,
    shipvia integer,
    freight numeric(19,5),
    shipname character varying(40),
    shipaddress character varying(60),
    shipcity character varying(15),
    shipregion character varying(15),
    shippostalcode character varying(10),
    shipcountry character varying(15)
);


--
-- TOC entry 1609 (class 1259 OID 29649)
-- Dependencies: 5
-- Name: patientrecords; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE patientrecords (
    patientrecordid bigint NOT NULL,
    "Gender" integer NOT NULL,
    "BirthDate" timestamp without time zone NOT NULL,
    "FirstName" character varying(255) NOT NULL,
    "LastName" character varying(255) NOT NULL,
    "AddressLine1" character varying(255),
    "AddressLine2" character varying(255),
    "City" character varying(255),
    stateid bigint,
    "ZipCode" character varying(255),
    patientid bigint NOT NULL
);


--
-- TOC entry 1608 (class 1259 OID 29647)
-- Dependencies: 1609 5
-- Name: patientrecords_patientrecordid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE patientrecords_patientrecordid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2019 (class 0 OID 0)
-- Dependencies: 1608
-- Name: patientrecords_patientrecordid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE patientrecords_patientrecordid_seq OWNED BY patientrecords.patientrecordid;


--
-- TOC entry 2020 (class 0 OID 0)
-- Dependencies: 1608
-- Name: patientrecords_patientrecordid_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('patientrecords_patientrecordid_seq', 3, true);


--
-- TOC entry 1605 (class 1259 OID 29633)
-- Dependencies: 5
-- Name: patients; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE patients (
    patientid bigint NOT NULL,
    "Active" boolean NOT NULL,
    physicianid bigint NOT NULL
);


--
-- TOC entry 1604 (class 1259 OID 29631)
-- Dependencies: 5 1605
-- Name: patients_patientid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE patients_patientid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2021 (class 0 OID 0)
-- Dependencies: 1604
-- Name: patients_patientid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE patients_patientid_seq OWNED BY patients.patientid;


--
-- TOC entry 2022 (class 0 OID 0)
-- Dependencies: 1604
-- Name: patients_patientid_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('patients_patientid_seq', 2, true);


--
-- TOC entry 1607 (class 1259 OID 29641)
-- Dependencies: 5
-- Name: physicians; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE physicians (
    physicianid bigint NOT NULL,
    "Name" character varying(255) NOT NULL
);


--
-- TOC entry 1606 (class 1259 OID 29639)
-- Dependencies: 5 1607
-- Name: physicians_physicianid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE physicians_physicianid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2023 (class 0 OID 0)
-- Dependencies: 1606
-- Name: physicians_physicianid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE physicians_physicianid_seq OWNED BY physicians.physicianid;


--
-- TOC entry 2024 (class 0 OID 0)
-- Dependencies: 1606
-- Name: physicians_physicianid_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('physicians_physicianid_seq', 2, true);


--
-- TOC entry 1578 (class 1259 OID 29507)
-- Dependencies: 5
-- Name: products; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE products (
    productid integer NOT NULL,
    productname character varying(40) NOT NULL,
    supplierid integer,
    categoryid integer,
    quantityperunit character varying(20),
    unitprice numeric(19,5),
    unitsinstock integer,
    unitsonorder integer,
    reorderlevel integer,
    discontinued boolean NOT NULL
);


--
-- TOC entry 1581 (class 1259 OID 29519)
-- Dependencies: 5
-- Name: region; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE region (
    regionid bigint NOT NULL,
    regiondescription character varying(50) NOT NULL
);


--
-- TOC entry 1580 (class 1259 OID 29517)
-- Dependencies: 1581 5
-- Name: region_regionid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE region_regionid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2025 (class 0 OID 0)
-- Dependencies: 1580
-- Name: region_regionid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE region_regionid_seq OWNED BY region.regionid;


--
-- TOC entry 2026 (class 0 OID 0)
-- Dependencies: 1580
-- Name: region_regionid_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('region_regionid_seq', 1, false);


--
-- TOC entry 1599 (class 1259 OID 29606)
-- Dependencies: 5
-- Name: reptile; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE reptile (
    animal integer NOT NULL,
    bodytemperature double precision
);


--
-- TOC entry 1589 (class 1259 OID 29559)
-- Dependencies: 5
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE roles (
    id integer NOT NULL,
    name character varying(255),
    isactive boolean,
    entityid integer,
    parentid integer
);


--
-- TOC entry 1588 (class 1259 OID 29557)
-- Dependencies: 1589 5
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2027 (class 0 OID 0)
-- Dependencies: 1588
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE roles_id_seq OWNED BY roles.id;


--
-- TOC entry 2028 (class 0 OID 0)
-- Dependencies: 1588
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('roles_id_seq', 2, true);


--
-- TOC entry 1582 (class 1259 OID 29525)
-- Dependencies: 5
-- Name: shippers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE shippers (
    shipperid integer NOT NULL,
    companyname character varying(40) NOT NULL,
    phone character varying(24),
    reference uuid
);


--
-- TOC entry 1611 (class 1259 OID 29660)
-- Dependencies: 5
-- Name: states; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE states (
    stateid bigint NOT NULL,
    "Abbreviation" character varying(255) NOT NULL,
    "FullName" character varying(255) NOT NULL
);


--
-- TOC entry 1610 (class 1259 OID 29658)
-- Dependencies: 1611 5
-- Name: states_stateid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE states_stateid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2029 (class 0 OID 0)
-- Dependencies: 1610
-- Name: states_stateid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE states_stateid_seq OWNED BY states.stateid;


--
-- TOC entry 2030 (class 0 OID 0)
-- Dependencies: 1610
-- Name: states_stateid_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('states_stateid_seq', 2, true);


--
-- TOC entry 1583 (class 1259 OID 29530)
-- Dependencies: 5
-- Name: suppliers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE suppliers (
    supplierid integer NOT NULL,
    companyname character varying(40) NOT NULL,
    contactname character varying(30),
    contacttitle character varying(30),
    homepage character varying(255),
    address character varying(60),
    city character varying(15),
    region character varying(15),
    postalcode character varying(10),
    country character varying(15),
    phone character varying(24),
    fax character varying(24)
);


--
-- TOC entry 1585 (class 1259 OID 29540)
-- Dependencies: 5
-- Name: territories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE territories (
    territoryid bigint NOT NULL,
    territorydescription character varying(50) NOT NULL,
    regionid bigint NOT NULL
);


--
-- TOC entry 1584 (class 1259 OID 29538)
-- Dependencies: 5 1585
-- Name: territories_territoryid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE territories_territoryid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2031 (class 0 OID 0)
-- Dependencies: 1584
-- Name: territories_territoryid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE territories_territoryid_seq OWNED BY territories.territoryid;


--
-- TOC entry 2032 (class 0 OID 0)
-- Dependencies: 1584
-- Name: territories_territoryid_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('territories_territoryid_seq', 1, false);


--
-- TOC entry 1596 (class 1259 OID 29589)
-- Dependencies: 5
-- Name: timesheetentries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE timesheetentries (
    timesheetentryid integer NOT NULL,
    entrydate timestamp without time zone,
    numberofhours integer,
    comments character varying(255),
    timesheetid integer
);


--
-- TOC entry 1595 (class 1259 OID 29587)
-- Dependencies: 5 1596
-- Name: timesheetentries_timesheetentryid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE timesheetentries_timesheetentryid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2033 (class 0 OID 0)
-- Dependencies: 1595
-- Name: timesheetentries_timesheetentryid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE timesheetentries_timesheetentryid_seq OWNED BY timesheetentries.timesheetentryid;


--
-- TOC entry 2034 (class 0 OID 0)
-- Dependencies: 1595
-- Name: timesheetentries_timesheetentryid_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('timesheetentries_timesheetentryid_seq', 6, true);


--
-- TOC entry 1593 (class 1259 OID 29578)
-- Dependencies: 5
-- Name: timesheets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE timesheets (
    timesheetid integer NOT NULL,
    submitteddate timestamp without time zone,
    submitted boolean
);


--
-- TOC entry 1592 (class 1259 OID 29576)
-- Dependencies: 1593 5
-- Name: timesheets_timesheetid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE timesheets_timesheetid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2035 (class 0 OID 0)
-- Dependencies: 1592
-- Name: timesheets_timesheetid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE timesheets_timesheetid_seq OWNED BY timesheets.timesheetid;


--
-- TOC entry 2036 (class 0 OID 0)
-- Dependencies: 1592
-- Name: timesheets_timesheetid_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('timesheets_timesheetid_seq', 3, true);


--
-- TOC entry 1594 (class 1259 OID 29584)
-- Dependencies: 5
-- Name: timesheetusers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE timesheetusers (
    timesheetid integer NOT NULL,
    userid integer NOT NULL
);


--
-- TOC entry 1591 (class 1259 OID 29567)
-- Dependencies: 5
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE users (
    userid integer NOT NULL,
    name character varying(255),
    invalidloginattempts integer,
    registeredat timestamp without time zone,
    lastlogindate timestamp without time zone,
    enum1 character varying(12),
    enum2 integer NOT NULL,
    features integer NOT NULL,
    roleid integer,
    property1 character varying(255),
    property2 character varying(255),
    otherproperty1 character varying(255)
);


--
-- TOC entry 1590 (class 1259 OID 29565)
-- Dependencies: 1591 5
-- Name: users_userid_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE users_userid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 2037 (class 0 OID 0)
-- Dependencies: 1590
-- Name: users_userid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE users_userid_seq OWNED BY users.userid;


--
-- TOC entry 2038 (class 0 OID 0)
-- Dependencies: 1590
-- Name: users_userid_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('users_userid_seq', 3, true);


--
-- TOC entry 1897 (class 2604 OID 29600)
-- Dependencies: 1597 1598 1598
-- Name: id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE animal ALTER COLUMN id SET DEFAULT nextval('animal_id_seq'::regclass);


--
-- TOC entry 1892 (class 2604 OID 29551)
-- Dependencies: 1587 1586 1587
-- Name: id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE anotherentity ALTER COLUMN id SET DEFAULT nextval('anotherentity_id_seq'::regclass);


--
-- TOC entry 1889 (class 2604 OID 29504)
-- Dependencies: 1576 1577 1577
-- Name: orderlineid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE orderlines ALTER COLUMN orderlineid SET DEFAULT nextval('orderlines_orderlineid_seq'::regclass);


--
-- TOC entry 1900 (class 2604 OID 29652)
-- Dependencies: 1609 1608 1609
-- Name: patientrecordid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE patientrecords ALTER COLUMN patientrecordid SET DEFAULT nextval('patientrecords_patientrecordid_seq'::regclass);


--
-- TOC entry 1898 (class 2604 OID 29636)
-- Dependencies: 1605 1604 1605
-- Name: patientid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE patients ALTER COLUMN patientid SET DEFAULT nextval('patients_patientid_seq'::regclass);


--
-- TOC entry 1899 (class 2604 OID 29644)
-- Dependencies: 1607 1606 1607
-- Name: physicianid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE physicians ALTER COLUMN physicianid SET DEFAULT nextval('physicians_physicianid_seq'::regclass);


--
-- TOC entry 1890 (class 2604 OID 29522)
-- Dependencies: 1580 1581 1581
-- Name: regionid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE region ALTER COLUMN regionid SET DEFAULT nextval('region_regionid_seq'::regclass);


--
-- TOC entry 1893 (class 2604 OID 29562)
-- Dependencies: 1588 1589 1589
-- Name: id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE roles ALTER COLUMN id SET DEFAULT nextval('roles_id_seq'::regclass);


--
-- TOC entry 1901 (class 2604 OID 29663)
-- Dependencies: 1610 1611 1611
-- Name: stateid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE states ALTER COLUMN stateid SET DEFAULT nextval('states_stateid_seq'::regclass);


--
-- TOC entry 1891 (class 2604 OID 29543)
-- Dependencies: 1584 1585 1585
-- Name: territoryid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE territories ALTER COLUMN territoryid SET DEFAULT nextval('territories_territoryid_seq'::regclass);


--
-- TOC entry 1896 (class 2604 OID 29592)
-- Dependencies: 1596 1595 1596
-- Name: timesheetentryid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE timesheetentries ALTER COLUMN timesheetentryid SET DEFAULT nextval('timesheetentries_timesheetentryid_seq'::regclass);


--
-- TOC entry 1895 (class 2604 OID 29581)
-- Dependencies: 1592 1593 1593
-- Name: timesheetid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE timesheets ALTER COLUMN timesheetid SET DEFAULT nextval('timesheets_timesheetid_seq'::regclass);


--
-- TOC entry 1894 (class 2604 OID 29570)
-- Dependencies: 1591 1590 1591
-- Name: userid; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE users ALTER COLUMN userid SET DEFAULT nextval('users_userid_seq'::regclass);


--
-- TOC entry 1999 (class 0 OID 29597)
-- Dependencies: 1598
-- Data for Name: animal; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO animal (id, description, body_weight, mother_id, father_id, serialnumber, parentid) VALUES (1, NULL, 100, NULL, NULL, '123', NULL);
INSERT INTO animal (id, description, body_weight, mother_id, father_id, serialnumber, parentid) VALUES (2, NULL, 40, NULL, NULL, '789', NULL);
INSERT INTO animal (id, description, body_weight, mother_id, father_id, serialnumber, parentid) VALUES (3, NULL, 30, NULL, NULL, '1234', NULL);


--
-- TOC entry 1993 (class 0 OID 29548)
-- Dependencies: 1587
-- Data for Name: anotherentity; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO anotherentity (id, output, input) VALUES (1, NULL, 'input');
INSERT INTO anotherentity (id, output, input) VALUES (2, 'i/o', 'i/o');
INSERT INTO anotherentity (id, output, input) VALUES (3, NULL, NULL);


--
-- TOC entry 2004 (class 0 OID 29626)
-- Dependencies: 1603
-- Data for Name: cat; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO cat (mammal) VALUES (6);


--
-- TOC entry 1988 (class 0 OID 29512)
-- Dependencies: 1579
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO categories (categoryid, categoryname, description) VALUES (1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales');
INSERT INTO categories (categoryid, categoryname, description) VALUES (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings');
INSERT INTO categories (categoryid, categoryname, description) VALUES (3, 'Confections', 'Desserts, candies, and sweet breads');


--
-- TOC entry 1982 (class 0 OID 29473)
-- Dependencies: 1572
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO customers (customerid, companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax) VALUES ('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', '', '12209', 'Germany', '030-0074321', '030-0076545');
INSERT INTO customers (customerid, companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax) VALUES ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', '', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745');
INSERT INTO customers (customerid, companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax) VALUES ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', '', '05023', 'Mexico', '(5) 555-3932', '');


--
-- TOC entry 2003 (class 0 OID 29621)
-- Dependencies: 1602
-- Data for Name: dog; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO dog (mammal) VALUES (4);
INSERT INTO dog (mammal) VALUES (5);


--
-- TOC entry 1983 (class 0 OID 29481)
-- Dependencies: 1573
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO employees (employeeid, lastname, firstname, title, titleofcourtesy, birthdate, hiredate, address, city, region, postalcode, country, homephone, extension, notes, reportsto) VALUES (1, 'Davolio', 'Nancy', 'Sales Representative', 'Ms.', '1948-12-08 00:00:00', '1992-05-01 00:00:00', '507 - 20th Ave. E.Apt. 2A', 'Seattle', 'WA', '98122', 'USA', '(206) 555-9857', '5467', 'Education includes a BA in psychology from Colorado State University in 1970.  She also completed ''The Art of the Cold Call.''  Nancy is a member of Toastmasters International.', NULL);


--
-- TOC entry 1984 (class 0 OID 29489)
-- Dependencies: 1574
-- Data for Name: employeeterritories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 2001 (class 0 OID 29611)
-- Dependencies: 1600
-- Data for Name: lizard; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO lizard (reptile) VALUES (2);
INSERT INTO lizard (reptile) VALUES (3);


--
-- TOC entry 2002 (class 0 OID 29616)
-- Dependencies: 1601
-- Data for Name: mammal; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO mammal (animal, pregnant, birthdate) VALUES (4, false, '1980-07-11 00:00:00');
INSERT INTO mammal (animal, pregnant, birthdate) VALUES (5, false, '1980-12-13 00:00:00');
INSERT INTO mammal (animal, pregnant, birthdate) VALUES (6, true, NULL);


--
-- TOC entry 1986 (class 0 OID 29501)
-- Dependencies: 1577
-- Data for Name: orderlines; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO orderlines (orderlineid, orderid, productid, unitprice, quantity, discount) VALUES (1, 10248, 11, 14.00000, 12, 0.00000);
INSERT INTO orderlines (orderlineid, orderid, productid, unitprice, quantity, discount) VALUES (2, 10248, 42, 9.80000, 10, 0.00000);
INSERT INTO orderlines (orderlineid, orderid, productid, unitprice, quantity, discount) VALUES (3, 10248, 72, 34.80000, 5, 0.00000);


--
-- TOC entry 1985 (class 0 OID 29494)
-- Dependencies: 1575
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO orders (orderid, customerid, employeeid, orderdate, requireddate, shippeddate, shipvia, freight, shipname, shipaddress, shipcity, shipregion, shippostalcode, shipcountry) VALUES (10248, 'VINET', 5, '1996-07-04 00:00:00', '1996-08-01 00:00:00', '1996-07-16 00:00:00', 3, 32.38000, 'Vins et alcools Chevalier', '59 rue de l''Abbaye', 'Reims', 'null', '51100', 'France');
INSERT INTO orders (orderid, customerid, employeeid, orderdate, requireddate, shippeddate, shipvia, freight, shipname, shipaddress, shipcity, shipregion, shippostalcode, shipcountry) VALUES (10249, 'TOMSP', 6, '1996-07-05 00:00:00', '1996-08-16 00:00:00', '1996-07-10 00:00:00', 1, 11.61000, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', 'null', '44087', 'Germany');
INSERT INTO orders (orderid, customerid, employeeid, orderdate, requireddate, shippeddate, shipvia, freight, shipname, shipaddress, shipcity, shipregion, shippostalcode, shipcountry) VALUES (10250, 'HANAR', 4, '1996-07-08 00:00:00', '1996-08-05 00:00:00', '1996-07-12 00:00:00', 2, 65.83000, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil');


--
-- TOC entry 2007 (class 0 OID 29649)
-- Dependencies: 1609
-- Data for Name: patientrecords; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO patientrecords (patientrecordid, "Gender", "BirthDate", "FirstName", "LastName", "AddressLine1", "AddressLine2", "City", stateid, "ZipCode", patientid) VALUES (1, 1, '1930-01-01 00:00:00', 'Bob', 'Barker', '123 Main St', NULL, 'New York', 1, '10001', 1);
INSERT INTO patientrecords (patientrecordid, "Gender", "BirthDate", "FirstName", "LastName", "AddressLine1", "AddressLine2", "City", stateid, "ZipCode", patientid) VALUES (2, 1, '1969-01-01 00:00:00', 'John', 'Doe', '123 Main St', NULL, 'Tampa', 2, '33602', 2);
INSERT INTO patientrecords (patientrecordid, "Gender", "BirthDate", "FirstName", "LastName", "AddressLine1", "AddressLine2", "City", stateid, "ZipCode", patientid) VALUES (3, 0, '1969-01-01 00:00:00', 'John', 'Doe', '123 Main St', 'Apt 2', 'Tampa', 2, '33602', 2);


--
-- TOC entry 2005 (class 0 OID 29633)
-- Dependencies: 1605
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO patients (patientid, "Active", physicianid) VALUES (1, false, 1);
INSERT INTO patients (patientid, "Active", physicianid) VALUES (2, true, 2);


--
-- TOC entry 2006 (class 0 OID 29641)
-- Dependencies: 1607
-- Data for Name: physicians; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO physicians (physicianid, "Name") VALUES (1, 'Dr Dobbs');
INSERT INTO physicians (physicianid, "Name") VALUES (2, 'Dr Watson');


--
-- TOC entry 1987 (class 0 OID 29507)
-- Dependencies: 1578
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO products (productid, productname, supplierid, categoryid, quantityperunit, unitprice, unitsinstock, unitsonorder, reorderlevel, discontinued) VALUES (1, 'Chai', 1, 1, '10 boxes x 20 bags', 18.00000, 39, 0, 10, false);
INSERT INTO products (productid, productname, supplierid, categoryid, quantityperunit, unitprice, unitsinstock, unitsonorder, reorderlevel, discontinued) VALUES (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.00000, 17, 40, 25, false);
INSERT INTO products (productid, productname, supplierid, categoryid, quantityperunit, unitprice, unitsinstock, unitsonorder, reorderlevel, discontinued) VALUES (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.00000, 13, 70, 25, false);


--
-- TOC entry 1989 (class 0 OID 29519)
-- Dependencies: 1581
-- Data for Name: region; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 2000 (class 0 OID 29606)
-- Dependencies: 1599
-- Data for Name: reptile; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO reptile (animal, bodytemperature) VALUES (2, 14);
INSERT INTO reptile (animal, bodytemperature) VALUES (3, 18);


--
-- TOC entry 1994 (class 0 OID 29559)
-- Dependencies: 1589
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO roles (id, name, isactive, entityid, parentid) VALUES (1, 'Admin', true, 5, NULL);
INSERT INTO roles (id, name, isactive, entityid, parentid) VALUES (2, 'User', false, NULL, NULL);


--
-- TOC entry 1990 (class 0 OID 29525)
-- Dependencies: 1582
-- Data for Name: shippers; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO shippers (shipperid, companyname, phone, reference) VALUES (1, 'Speedy Express', '(503) 555-9831', '356e4a7e-b027-4321-ba40-e2677e6502cf');
INSERT INTO shippers (shipperid, companyname, phone, reference) VALUES (2, 'United Package', '(503) 555-3199', '6dfcd0d7-4d2e-4525-a502-3ea9aa52e965');
INSERT INTO shippers (shipperid, companyname, phone, reference) VALUES (3, 'Federal Shipping', '(503) 555-9931', '716f114b-e253-4166-8c76-46e6f340b58f');


--
-- TOC entry 2008 (class 0 OID 29660)
-- Dependencies: 1611
-- Data for Name: states; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO states (stateid, "Abbreviation", "FullName") VALUES (1, 'NY', 'New York');
INSERT INTO states (stateid, "Abbreviation", "FullName") VALUES (2, 'FL', 'Florida');


--
-- TOC entry 1991 (class 0 OID 29530)
-- Dependencies: 1583
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO suppliers (supplierid, companyname, contactname, contacttitle, homepage, address, city, region, postalcode, country, phone, fax) VALUES (1, 'Exotic Liquids', 'Charlotte Cooper', 'Purchasing Manager', '', '49 Gilbert St.', 'London', '', 'EC1 4SD', 'UK', '(171) 555-2222', '');
INSERT INTO suppliers (supplierid, companyname, contactname, contacttitle, homepage, address, city, region, postalcode, country, phone, fax) VALUES (2, 'New Orleans Cajun Delights', 'Shelley Burke', 'Order Administrator', '#CAJUN.HTM#', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'USA', '(100) 555-4822', '');
INSERT INTO suppliers (supplierid, companyname, contactname, contacttitle, homepage, address, city, region, postalcode, country, phone, fax) VALUES (3, 'Grandma Kelly''s Homestead', 'Regina Murphy', 'Sales Representative', '', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'USA', '(313) 555-5735', '(313) 555-3349');


--
-- TOC entry 1992 (class 0 OID 29540)
-- Dependencies: 1585
-- Data for Name: territories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 1998 (class 0 OID 29589)
-- Dependencies: 1596
-- Data for Name: timesheetentries; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO timesheetentries (timesheetentryid, entrydate, numberofhours, comments, timesheetid) VALUES (1, '2010-06-17 00:00:00', 6, 'testing 123', 2);
INSERT INTO timesheetentries (timesheetentryid, entrydate, numberofhours, comments, timesheetid) VALUES (2, '2010-06-18 00:00:00', 14, NULL, 2);
INSERT INTO timesheetentries (timesheetentryid, entrydate, numberofhours, comments, timesheetid) VALUES (3, '2011-02-28 22:23:19', 4, NULL, 3);


--
-- TOC entry 1996 (class 0 OID 29578)
-- Dependencies: 1593
-- Data for Name: timesheets; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO timesheets (timesheetid, submitteddate, submitted) VALUES (1, '2010-06-17 00:00:00', true);
INSERT INTO timesheets (timesheetid, submitteddate, submitted) VALUES (2, '2010-06-16 00:00:00', false);
INSERT INTO timesheets (timesheetid, submitteddate, submitted) VALUES (3, '2011-03-01 22:03:19', true);


--
-- TOC entry 1997 (class 0 OID 29584)
-- Dependencies: 1594
-- Data for Name: timesheetusers; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO timesheetusers (timesheetid, userid) VALUES (1, 1);
INSERT INTO timesheetusers (timesheetid, userid) VALUES (1, 2);
INSERT INTO timesheetusers (timesheetid, userid) VALUES (2, 1);


--
-- TOC entry 1995 (class 0 OID 29567)
-- Dependencies: 1591
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO users (userid, name, invalidloginattempts, registeredat, lastlogindate, enum1, enum2, features, roleid, property1, property2, otherproperty1) VALUES (1, 'ayende', 4, '2010-06-17 00:00:00', NULL, 'Medium', 1, 0, 1, 'test1', 'test2', 'othertest1');
INSERT INTO users (userid, name, invalidloginattempts, registeredat, lastlogindate, enum1, enum2, features, roleid, property1, property2, otherproperty1) VALUES (2, 'rahien', 5, '1998-12-31 00:00:00', NULL, 'Small', 0, 0, 2, NULL, 'test2', NULL);
INSERT INTO users (userid, name, invalidloginattempts, registeredat, lastlogindate, enum1, enum2, features, roleid, property1, property2, otherproperty1) VALUES (3, 'nhibernate', 6, '2000-01-01 00:00:00', '2011-02-27 22:03:19', 'Medium', 0, 0, NULL, NULL, NULL, NULL);


--
-- TOC entry 1935 (class 2606 OID 29605)
-- Dependencies: 1598 1598
-- Name: animal_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY animal
    ADD CONSTRAINT animal_pkey PRIMARY KEY (id);


--
-- TOC entry 1925 (class 2606 OID 29556)
-- Dependencies: 1587 1587
-- Name: anotherentity_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY anotherentity
    ADD CONSTRAINT anotherentity_pkey PRIMARY KEY (id);


--
-- TOC entry 1945 (class 2606 OID 29630)
-- Dependencies: 1603 1603
-- Name: cat_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY cat
    ADD CONSTRAINT cat_pkey PRIMARY KEY (mammal);


--
-- TOC entry 1915 (class 2606 OID 29516)
-- Dependencies: 1579 1579
-- Name: categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (categoryid);


--
-- TOC entry 1903 (class 2606 OID 29480)
-- Dependencies: 1572 1572
-- Name: customers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (customerid);


--
-- TOC entry 1943 (class 2606 OID 29625)
-- Dependencies: 1602 1602
-- Name: dog_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY dog
    ADD CONSTRAINT dog_pkey PRIMARY KEY (mammal);


--
-- TOC entry 1905 (class 2606 OID 29488)
-- Dependencies: 1573 1573
-- Name: employees_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (employeeid);


--
-- TOC entry 1907 (class 2606 OID 29493)
-- Dependencies: 1574 1574 1574
-- Name: employeeterritories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY employeeterritories
    ADD CONSTRAINT employeeterritories_pkey PRIMARY KEY (territoryid, employeeid);


--
-- TOC entry 1939 (class 2606 OID 29615)
-- Dependencies: 1600 1600
-- Name: lizard_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY lizard
    ADD CONSTRAINT lizard_pkey PRIMARY KEY (reptile);


--
-- TOC entry 1941 (class 2606 OID 29620)
-- Dependencies: 1601 1601
-- Name: mammal_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY mammal
    ADD CONSTRAINT mammal_pkey PRIMARY KEY (animal);


--
-- TOC entry 1911 (class 2606 OID 29506)
-- Dependencies: 1577 1577
-- Name: orderlines_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY orderlines
    ADD CONSTRAINT orderlines_pkey PRIMARY KEY (orderlineid);


--
-- TOC entry 1909 (class 2606 OID 29498)
-- Dependencies: 1575 1575
-- Name: orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (orderid);


--
-- TOC entry 1951 (class 2606 OID 29657)
-- Dependencies: 1609 1609
-- Name: patientrecords_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY patientrecords
    ADD CONSTRAINT patientrecords_pkey PRIMARY KEY (patientrecordid);


--
-- TOC entry 1947 (class 2606 OID 29638)
-- Dependencies: 1605 1605
-- Name: patients_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (patientid);


--
-- TOC entry 1949 (class 2606 OID 29646)
-- Dependencies: 1607 1607
-- Name: physicians_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY physicians
    ADD CONSTRAINT physicians_pkey PRIMARY KEY (physicianid);


--
-- TOC entry 1913 (class 2606 OID 29511)
-- Dependencies: 1578 1578
-- Name: products_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY products
    ADD CONSTRAINT products_pkey PRIMARY KEY (productid);


--
-- TOC entry 1917 (class 2606 OID 29524)
-- Dependencies: 1581 1581
-- Name: region_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY region
    ADD CONSTRAINT region_pkey PRIMARY KEY (regionid);


--
-- TOC entry 1937 (class 2606 OID 29610)
-- Dependencies: 1599 1599
-- Name: reptile_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY reptile
    ADD CONSTRAINT reptile_pkey PRIMARY KEY (animal);


--
-- TOC entry 1927 (class 2606 OID 29564)
-- Dependencies: 1589 1589
-- Name: roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- TOC entry 1919 (class 2606 OID 29529)
-- Dependencies: 1582 1582
-- Name: shippers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY shippers
    ADD CONSTRAINT shippers_pkey PRIMARY KEY (shipperid);


--
-- TOC entry 1953 (class 2606 OID 29668)
-- Dependencies: 1611 1611
-- Name: states_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY states
    ADD CONSTRAINT states_pkey PRIMARY KEY (stateid);


--
-- TOC entry 1921 (class 2606 OID 29537)
-- Dependencies: 1583 1583
-- Name: suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (supplierid);


--
-- TOC entry 1923 (class 2606 OID 29545)
-- Dependencies: 1585 1585
-- Name: territories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY territories
    ADD CONSTRAINT territories_pkey PRIMARY KEY (territoryid);


--
-- TOC entry 1933 (class 2606 OID 29594)
-- Dependencies: 1596 1596
-- Name: timesheetentries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY timesheetentries
    ADD CONSTRAINT timesheetentries_pkey PRIMARY KEY (timesheetentryid);


--
-- TOC entry 1931 (class 2606 OID 29583)
-- Dependencies: 1593 1593
-- Name: timesheets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY timesheets
    ADD CONSTRAINT timesheets_pkey PRIMARY KEY (timesheetid);


--
-- TOC entry 1929 (class 2606 OID 29575)
-- Dependencies: 1591 1591
-- Name: users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY users
    ADD CONSTRAINT users_pkey PRIMARY KEY (userid);


--
-- TOC entry 1976 (class 2606 OID 29779)
-- Dependencies: 1598 1934 1601
-- Name: fk180fd9f3f5eb1539; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY mammal
    ADD CONSTRAINT fk180fd9f3f5eb1539 FOREIGN KEY (animal) REFERENCES animal(id);


--
-- TOC entry 1966 (class 2606 OID 29729)
-- Dependencies: 1589 1589 1926
-- Name: fk1a2e670f61069b3c; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY roles
    ADD CONSTRAINT fk1a2e670f61069b3c FOREIGN KEY (parentid) REFERENCES roles(id);


--
-- TOC entry 1965 (class 2606 OID 29724)
-- Dependencies: 1924 1587 1589
-- Name: fk1a2e670fbf2fab1c; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY roles
    ADD CONSTRAINT fk1a2e670fbf2fab1c FOREIGN KEY (entityid) REFERENCES anotherentity(id);


--
-- TOC entry 1967 (class 2606 OID 29734)
-- Dependencies: 1926 1591 1589
-- Name: fk2c1c7fe527eb4ea8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY users
    ADD CONSTRAINT fk2c1c7fe527eb4ea8 FOREIGN KEY (roleid) REFERENCES roles(id);


--
-- TOC entry 1958 (class 2606 OID 29689)
-- Dependencies: 1575 1904 1573
-- Name: fk318a099b4a64f51e; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY orders
    ADD CONSTRAINT fk318a099b4a64f51e FOREIGN KEY (employeeid) REFERENCES employees(employeeid);


--
-- TOC entry 1957 (class 2606 OID 29684)
-- Dependencies: 1572 1575 1902
-- Name: fk318a099bbc41ebdf; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY orders
    ADD CONSTRAINT fk318a099bbc41ebdf FOREIGN KEY (customerid) REFERENCES customers(customerid);


--
-- TOC entry 1959 (class 2606 OID 29694)
-- Dependencies: 1918 1575 1582
-- Name: fk318a099bcbef6a25; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY orders
    ADD CONSTRAINT fk318a099bcbef6a25 FOREIGN KEY (shipvia) REFERENCES shippers(shipperid);


--
-- TOC entry 1981 (class 2606 OID 29804)
-- Dependencies: 1609 1605 1946
-- Name: fk43582e966423353d; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY patientrecords
    ADD CONSTRAINT fk43582e966423353d FOREIGN KEY (patientid) REFERENCES patients(patientid);


--
-- TOC entry 1980 (class 2606 OID 29799)
-- Dependencies: 1611 1609 1952
-- Name: fk43582e96a05ce37; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY patientrecords
    ADD CONSTRAINT fk43582e96a05ce37 FOREIGN KEY (stateid) REFERENCES states(stateid);


--
-- TOC entry 1963 (class 2606 OID 29714)
-- Dependencies: 1578 1914 1579
-- Name: fk4a7fd86a1abb59b6; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY products
    ADD CONSTRAINT fk4a7fd86a1abb59b6 FOREIGN KEY (categoryid) REFERENCES categories(categoryid);


--
-- TOC entry 1962 (class 2606 OID 29709)
-- Dependencies: 1583 1578 1920
-- Name: fk4a7fd86a4cac42f1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY products
    ADD CONSTRAINT fk4a7fd86a4cac42f1 FOREIGN KEY (supplierid) REFERENCES suppliers(supplierid);


--
-- TOC entry 1979 (class 2606 OID 29794)
-- Dependencies: 1607 1948 1605
-- Name: fk66884859a7f1a2a3; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY patients
    ADD CONSTRAINT fk66884859a7f1a2a3 FOREIGN KEY (physicianid) REFERENCES physicians(physicianid);


--
-- TOC entry 1970 (class 2606 OID 29749)
-- Dependencies: 1593 1930 1596
-- Name: fk7e2220507850fdd8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY timesheetentries
    ADD CONSTRAINT fk7e2220507850fdd8 FOREIGN KEY (timesheetid) REFERENCES timesheets(timesheetid);


--
-- TOC entry 1973 (class 2606 OID 29764)
-- Dependencies: 1598 1598 1934
-- Name: fk8ded074324e1a0d7; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY animal
    ADD CONSTRAINT fk8ded074324e1a0d7 FOREIGN KEY (parentid) REFERENCES animal(id);


--
-- TOC entry 1972 (class 2606 OID 29759)
-- Dependencies: 1934 1598 1598
-- Name: fk8ded07435db28373; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY animal
    ADD CONSTRAINT fk8ded07435db28373 FOREIGN KEY (father_id) REFERENCES animal(id);


--
-- TOC entry 1971 (class 2606 OID 29754)
-- Dependencies: 1598 1598 1934
-- Name: fk8ded07436534da5e; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY animal
    ADD CONSTRAINT fk8ded07436534da5e FOREIGN KEY (mother_id) REFERENCES animal(id);


--
-- TOC entry 1974 (class 2606 OID 29769)
-- Dependencies: 1599 1598 1934
-- Name: fk93d08bcaf5eb1539; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY reptile
    ADD CONSTRAINT fk93d08bcaf5eb1539 FOREIGN KEY (animal) REFERENCES animal(id);


--
-- TOC entry 1978 (class 2606 OID 29789)
-- Dependencies: 1603 1940 1601
-- Name: fk98330323ff33c879; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY cat
    ADD CONSTRAINT fk98330323ff33c879 FOREIGN KEY (mammal) REFERENCES mammal(animal);


--
-- TOC entry 1960 (class 2606 OID 29699)
-- Dependencies: 1575 1908 1577
-- Name: fk9d532a8f561978af; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY orderlines
    ADD CONSTRAINT fk9d532a8f561978af FOREIGN KEY (orderid) REFERENCES orders(orderid);


--
-- TOC entry 1961 (class 2606 OID 29704)
-- Dependencies: 1912 1578 1577
-- Name: fk9d532a8f90fef4a2; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY orderlines
    ADD CONSTRAINT fk9d532a8f90fef4a2 FOREIGN KEY (productid) REFERENCES products(productid);


--
-- TOC entry 1969 (class 2606 OID 29744)
-- Dependencies: 1593 1930 1594
-- Name: fka6eef7377850fdd8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY timesheetusers
    ADD CONSTRAINT fka6eef7377850fdd8 FOREIGN KEY (timesheetid) REFERENCES timesheets(timesheetid);


--
-- TOC entry 1968 (class 2606 OID 29739)
-- Dependencies: 1594 1591 1928
-- Name: fka6eef737bf902716; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY timesheetusers
    ADD CONSTRAINT fka6eef737bf902716 FOREIGN KEY (userid) REFERENCES users(userid);


--
-- TOC entry 1977 (class 2606 OID 29784)
-- Dependencies: 1602 1601 1940
-- Name: fkaaa2aaa3ff33c879; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY dog
    ADD CONSTRAINT fkaaa2aaa3ff33c879 FOREIGN KEY (mammal) REFERENCES mammal(animal);


--
-- TOC entry 1954 (class 2606 OID 29669)
-- Dependencies: 1573 1573 1904
-- Name: fkbf2d7ff2fbd4674; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY employees
    ADD CONSTRAINT fkbf2d7ff2fbd4674 FOREIGN KEY (reportsto) REFERENCES employees(employeeid);


--
-- TOC entry 1975 (class 2606 OID 29774)
-- Dependencies: 1600 1936 1599
-- Name: fkd8de3264ff7212d2; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY lizard
    ADD CONSTRAINT fkd8de3264ff7212d2 FOREIGN KEY (reptile) REFERENCES reptile(animal);


--
-- TOC entry 1964 (class 2606 OID 29719)
-- Dependencies: 1916 1581 1585
-- Name: fke8c9ac09ddf6d57a; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY territories
    ADD CONSTRAINT fke8c9ac09ddf6d57a FOREIGN KEY (regionid) REFERENCES region(regionid);


--
-- TOC entry 1956 (class 2606 OID 29679)
-- Dependencies: 1904 1573 1574
-- Name: fkf4419a394a64f51e; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY employeeterritories
    ADD CONSTRAINT fkf4419a394a64f51e FOREIGN KEY (employeeid) REFERENCES employees(employeeid);


--
-- TOC entry 1955 (class 2606 OID 29674)
-- Dependencies: 1574 1922 1585
-- Name: fkf4419a39a15f8729; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY employeeterritories
    ADD CONSTRAINT fkf4419a39a15f8729 FOREIGN KEY (territoryid) REFERENCES territories(territoryid);


-- Completed on 2011-02-28 22:04:38

--
-- PostgreSQL database dump complete
--

