<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory name="NHibernate.Linq.Test">
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">
        Server=.;initial catalog=linq2nhibernate;Integrated Security=true
      </property>
      <property name="adonet.batch_size">10</property>
      <property name="show_sql">true</property>
      <property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
      <property name="use_outer_join">true</property>
      <property name="command_timeout">444</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <mapping assembly="NHibernate.Linq.Test" />
    </session-factory>
  </hibernate-configuration>
</configuration>